Repository palemoky/xiaomi-speaker-action: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, test, build

prettier:
  name: Prettier
  entry: bun run prettier --write --ignore-unknown
  language: system

typecheck:
  name: TypeScript Type Check
  entry: bun run typecheck
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test:
  name: Run Tests
  entry: bun test
  language: system
  pass_filenames: false
  stages:
  - pre-push

build:
  name: Build Check
  entry: bun run build
  language: system
  pass_filenames: false
  stages:
  - pre-push

chore: Replaced the action's bundled code with a simple 'Hello, world!' script.
  dist/index.js
Due: none

chore: update package to latest versions.
  package.json
Due: prettier

feat: Implement Cloudflare Access authentication, consolidate API secrets into an `AuthConfig` object, and add a test workflow.
  .github/workflows/test-action.yml
  README.md
  action.yml
  dist/index.js
  src/client.test.ts
  src/client.ts
  src/index.ts
  src/types.ts
Due: prettier, typecheck, test, build

ci: Remove push trigger from test workflow.
  .github/workflows/test-action.yml
Due: prettier

chore: Upgrade GitHub Actions workflows to newer major versions and update project dependencies.
  .github/workflows/dependency-review.yml
  .github/workflows/release.yml
  .github/workflows/test-action.yml
  .github/workflows/test.yml
  .github/workflows/update-check.yml
  README.md
  bun.lock
  dist/index.js
  package.json
Due: prettier

ci: Add Bun cache to workflows, specify Bun engine requirement, and configure release action for latest releases and file matching.
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/update-check.yml
  package.json
Due: prettier

refactor: Update webhook_url from secrets to vars in workflow and README examples.
  .github/workflows/test-action.yml
  README.md
Due: prettier

chore: Adjust dependency review workflow to fail on high severity vulnerabilities and comment on PR only upon failure.
  .github/workflows/dependency-review.yml
Due: prettier

chore: Remove emojis from success and failure messages in test workflow.
  .github/workflows/test-action.yml
Due: prettier

feat: Make `api_secret` input required for authentication.
  README.md
  action.yml
  dist/index.js
  src/client.test.ts
  src/client.ts
  src/index.ts
  src/types.ts
  src/utils.test.ts
Due: prettier, typecheck, test, build

feat: remove custom_payload input, its associated payload field, and processing logic.
  README.md
  action.yml
  dist/index.js
  src/index.ts
  src/types.ts
  src/utils.test.ts
  src/utils.ts
Due: prettier, typecheck, test, build

feat: Add release command, internationalize help messages, and refine Makefile structure.
  Makefile
Due: none

feat: Add Xiaomi Speaker notification to release workflow and update Makefile release example version
  .github/workflows/release.yml
  Makefile
Due: prettier

ci: Remove bun cache option from GitHub Actions workflows.
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/update-check.yml
Due: prettier

feat: update release process to bump package.json version and push main branch, and upgrade action to node24.
  Makefile
  action.yml
Due: prettier

chore: bump version to v1.0.2
  package.json
Due: prettier

feat: Add release validation for `package.json` version and major version tag updates, remove automatic version bumping, and bump `package.json` version.
  Makefile
  package.json
Due: prettier

refactor: update release target to conditionally create or force-update major version tags.
  Makefile
Due: none

chore: update release workflow tag pattern to enforce semantic versioning.
  .github/workflows/release.yml
Due: prettier

chore: Validate new release tag is strictly greater than the latest existing tag.
  Makefile
Due: none

chore: upgrade @actions/github dependency to version 9.0.0
  package.json
Due: prettier

chore: upgrade dependencies to latest versions including @actions/core@3.0.0 and @actions/github@9.0.0
  bun.lock
  src/utils.ts
Due: prettier, typecheck, test, build

chore: minify dist/index.js bundle
  dist/index.js
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$ and not (^dist/) and not (^dist/)
  typecheck: any of: \.(ts|mts|cts)$, but not: ^dist/
  test: any of: \.(ts|mts|cts)$, but not: ^dist/
  build: any of: \.(ts|mts|cts)$, but not: ^dist/
